.page {
    height: 100vh;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    color: white;
}

.header {
    display: flex;
    justify-content: center;

    h1 {
        color: #fff;
        font-size: 3rem;
        line-height: 3rem;
    }
}

.footer {
    color: #fff;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 32px 0;
}